/* 
  основной цвет текста #757575
  вторичный цвет текста/заголовки #212121
  акцент #2196F3
  цвет логотип #000000
  цвет футер/адрес физический/h1/button #ffffff
  цвет фона dark #2F303A
  цвет фона section #F5F4FA
  цвет мейл+телефон футер rgba(255, 255, 255, 0.6);
*/
/* 
  шрифт логотипа Raleway 700
  основной шрифт Roboto 400(вторичный текст) 500/ 700/ 900(h1)
*/
:root {
  --primary-text-color: #757575;
  --primary-logo-color: #000000;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --background-color-footer: #2F303A;
  --background-color-secondary: #F5F4FA;
  --color-text-footer: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188CE8;

}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* header */

.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-logo-color);
}
.header-logo span {
  color: var(--accent-color);
}

.header-nav .link {
  color: var(--title-text-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.contact-link {
  color: var(--primary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: var(--background-color-footer);
  color: var(--primary-white-color);
}

/* .hero-title {} */

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-button:hover {
  background-color: var(--btn-hover-color);
}

/* section */

.section-title {
  color: var(--title-text-color);
}

/* features */

.features-title {
  color: var(--title-text-color);
}

/*---- Portfolio ----*/
/* Buttons */

.button {
  color: var(--title-text-color);
  background-color: var(--background-color-secondary);
}

.button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}